# Logs
logs
*.log

# Dependency directories
node_modules/

# Build output
dist/
build/
out/
bin/

# Environment variables
.env

# IDE and editor files
.vscode/
.idea/

# Miscellaneous
.DS_Store
Thumbs.db

# logs
**/*.log
